# Ditto
DITTO_API_URL=https://your-ditto-host/
DITTO_USER=ditto
DITTO_PASS=changeme

# Hono
HONO_API_URL=https://your-hono-host:28443
HONO_USER=hono-admin
HONO_PASS=changeme
HONO_TENANT=my-tenant
CERT=/path/to/truststore.pem

# MQTT Broker
MQTT_BROKER_HOST=mosquitto_broker
MQTT_BROKER_PORT=1883
MQTT_BROKER_USER=backend
MQTT_BROKER_PASSWORD=changeme

# MQTT topics
MQTT_CAR_UPDATES_TOPIC=cars/updates
MQTT_ADAPTER_IP=your-adapter-ip
MQTT_ADAPTER_PORT_MQTTS=8883

# Weather API
WEATHER_API_URL=your-weather-api-host
WEATHER_USER=ditto
WEATHER_PASS=changeme
MQTT_METEO_UPDATES_TOPIC=meteo/updates
MQTT_STATION_ASSIGNMENT_TOPIC=cars/station

# Keycloak Configuration
KC_PORT=8081
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=changeme
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=changeme
KEYCLOAK_REALM=automotive-app
KEYCLOAK_CLIENT_ID=automotive-app

# User Preferences Database
APP_DB_USER=automotive_app
APP_DB_PASSWORD=changeme
