services:

  mosquitto_broker:
    image: eclipse-mosquitto:2
    container_name: mosquitto_broker
    ports:
      - "1884:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf

  position_processor:
    build:
      context: .
      dockerfile: services/position_processor/Dockerfile
    container_name: position_processor
    restart: unless-stopped
    env_file:
      - ../.env
    depends_on:
      - mosquitto_broker

  speed_detector:
    build:
      context: .
      dockerfile: services/speed_detector/Dockerfile
    container_name: speed_detector
    restart: unless-stopped
    env_file:
      - ../.env
    depends_on:
      - mosquitto_broker
      - position_processor

  overtaking_detector:
    build:
      context: .
      dockerfile: services/overtaking_detector/Dockerfile
    container_name: overtaking_detector
    restart: unless-stopped
    env_file:
      - ../.env
    depends_on:
      - mosquitto_broker
      - position_processor
