websocket-client
paho-mqtt
python-dotenv
pytest
requests
certifi
geopy
eclipse-sumo
traci
sumolib
fastapi
uvicorn[standard]
pydantic
pydantic-settings
PyJWT
asyncpg
cryptography
httpx
testcontainers[postgres]
docker
pg8000
locust
matplotlib